@layer reset, base, tokens, recipes, utilities;

.leaflet-popup-content {
  margin: 0 !important;
}

.marker {
  overflow: hidden;
  border-radius: 9999px;
  border: 2px solid black;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
  background-color: black;
}

.month:hover .dot {
  transform: scale(150%);
}

.gad {
  width: 320px !important;
  margin: 0 auto;
}

@media (min-width: 800px) {
  .gad {
    width: 700px !important;
  }
}

@media (min-width: 1000px) {
  .gad {
    width: 980px !important;
  }
}